<h2>Available Quests</h2>
<ul>
    @for (quest of quests; track quest.id; let i = $index) {
    <li>
        <h3>{{ i + 1 }}. {{ quest.title }}</h3>
        <p>{{ quest.description }}</p>
        <p><strong>XP:</strong> {{ quest.xp }}</p>

        @if (quest.xp >= 1000) {
            <span style="color: red; font-weight: bold;">SUPER XP!</span>
          } @else if (quest.xp >= 100) {
            <span style="color: green; font-weight: bold;">mega XP!</span>
          } @else if (quest.xp >= 10) {
            <span style="color: blue; font-weight: bold;">normal XP!</span>
          }
    </li>
    } @empty {
    <li>No quests available right now.</li>
    }

</ul>